USE [master]
GO
/****** Object:  Database [BDTFI]    Script Date: 9/10/2026 12:35:59 ******/
CREATE DATABASE [BDTFI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDTFI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDTFI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDTFI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDTFI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTFI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTFI]
GO
/****** Object:  Table [dbo].[EmpresaLogistica]    Script Date: 9/10/2026 12:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaLogistica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[CUIT] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_EmpresaLogistica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes]    Script Date: 9/10/2026 12:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[MaxInstituciones] [int] NOT NULL,
	[MaxContenedores] [int] NOT NULL,
	[PrecioMensual] [decimal](10, 2) NOT NULL,
	[CostoInstalacion] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Planes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioEmpresaLogistica]    Script Date: 9/10/2026 12:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEmpresaLogistica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](150) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[EmpresaLogisticaId] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioEmpresaLogistica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRecycleSmart]    Script Date: 9/10/2026 12:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRecycleSmart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](150) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsuarioRecycleSmart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmpresaLogistica] ON 

INSERT [dbo].[EmpresaLogistica] ([Id], [Nombre], [CUIT], [Direccion], [FechaRegistro], [Estado], [PlanId]) VALUES (2, N'EcoTrans Logística', N'30712345678', N'Av. Corrientes 1234, CABA', CAST(N'2026-10-09' AS Date), N'Activo', 1)
SET IDENTITY_INSERT [dbo].[EmpresaLogistica] OFF
GO
SET IDENTITY_INSERT [dbo].[Planes] ON 

INSERT [dbo].[Planes] ([Id], [Nombre], [MaxInstituciones], [MaxContenedores], [PrecioMensual], [CostoInstalacion], [Estado]) VALUES (1, N'Basico', 5, 10, CAST(385.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), N'Activo')
INSERT [dbo].[Planes] ([Id], [Nombre], [MaxInstituciones], [MaxContenedores], [PrecioMensual], [CostoInstalacion], [Estado]) VALUES (3, N'Estandar', 10, 30, CAST(550.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'Activo')
INSERT [dbo].[Planes] ([Id], [Nombre], [MaxInstituciones], [MaxContenedores], [PrecioMensual], [CostoInstalacion], [Estado]) VALUES (4, N'Pro', 16, 60, CAST(770.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), N'Activo')
SET IDENTITY_INSERT [dbo].[Planes] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioEmpresaLogistica] ON 

INSERT [dbo].[UsuarioEmpresaLogistica] ([Id], [Nombre], [Apellido], [Correo], [Clave], [Rol], [Estado], [EmpresaLogisticaId]) VALUES (1, N'Admin', N'EcoTrans', N'admin@ecotrans.com', N'$2a$11$FKCYt/hOXG/WwBPe07Y6Zu8pjKejlSA19hj84BoIHYitW7oyqErxi', N'Administracion', N'Activo', 2)
SET IDENTITY_INSERT [dbo].[UsuarioEmpresaLogistica] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioRecycleSmart] ON 

INSERT [dbo].[UsuarioRecycleSmart] ([Id], [Nombre], [Apellido], [Correo], [Clave], [Estado]) VALUES (1, N'Admin', N'RecycleSmart', N'admin@recyclesmart.com', N'$2a$11$FKCYt/hOXG/WwBPe07Y6Zu8pjKejlSA19hj84BoIHYitW7oyqErxi', N'Activo')
SET IDENTITY_INSERT [dbo].[UsuarioRecycleSmart] OFF
GO
ALTER TABLE [dbo].[EmpresaLogistica]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaLogistica_Planes] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Planes] ([Id])
GO
ALTER TABLE [dbo].[EmpresaLogistica] CHECK CONSTRAINT [FK_EmpresaLogistica_Planes]
GO
ALTER TABLE [dbo].[UsuarioEmpresaLogistica]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpresaLogistica_EmpresaLogistica] FOREIGN KEY([EmpresaLogisticaId])
REFERENCES [dbo].[EmpresaLogistica] ([Id])
GO
ALTER TABLE [dbo].[UsuarioEmpresaLogistica] CHECK CONSTRAINT [FK_UsuarioEmpresaLogistica_EmpresaLogistica]
GO
USE [master]
GO
